In [9]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split

In [3]:
df=pd.read_csv('stud.csv')

In [4]:
df.head()

   gender race_ethnicity  ... reading_score writing_score
0  female        group B  ...            72            74
1  female        group C  ...            90            88
2  female        group B  ...            95            93
3    male        group A  ...            57            44
4    male        group C  ...            78            75

[5 rows x 8 columns]

In [5]:
df.nunique()

gender                          2
race_ethnicity                  5
parental_level_of_education     6
lunch                           2
test_preparation_course         2
math_score                     81
reading_score                  72
writing_score                  77
dtype: int64

In [6]:
df.isnull().sum()

gender                         0
race_ethnicity                 0
parental_level_of_education    0
lunch                          0
test_preparation_course        0
math_score                     0
reading_score                  0
writing_score                  0
dtype: int64

In [7]:
df.isna().sum()

gender                         0
race_ethnicity                 0
parental_level_of_education    0
lunch                          0
test_preparation_course        0
math_score                     0
reading_score                  0
writing_score                  0
dtype: int64

In [8]:
df.describe()

       math_score  reading_score  writing_score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [10]:
X=df.drop(['math_score'],axis=1)
Y=df['math_score']

In [11]:
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.25,random_state=42)

In [12]:
from sklearn.compose import ColumnTransformer

In [17]:
num_features=X_train.select_dtypes(exclude='object').columns
cat_features=X_train.select_dtypes(include='object').columns

In [18]:
cat_features

Index(['gender', 'race_ethnicity', 'parental_level_of_education', 'lunch',
       'test_preparation_course'],
      dtype='object')

In [19]:
stTransformer=StandardScaler()
ohEncoder=OneHotEncoder()
pipeline=ColumnTransformer([
    ('OneHotEncoder',ohEncoder,cat_features),
    ('StandardScaler',stTransformer,num_features)
]
)

In [20]:
X_train=pipeline.fit_transform(X_train)

In [22]:
X_train

array([[ 0.        ,  1.        ,  1.        , ...,  0.        ,
        -1.59453623, -0.98844821],
       [ 1.        ,  0.        ,  0.        , ...,  0.        ,
         0.8575186 ,  0.62886547],
       [ 1.        ,  0.        ,  0.        , ...,  1.        ,
        -0.33347946, -0.51673172],
       ...,
       [ 1.        ,  0.        ,  0.        , ...,  1.        ,
        -0.54365559, -1.05583628],
       [ 0.        ,  1.        ,  0.        , ...,  0.        ,
        -1.52447752, -1.05583628],
       [ 1.        ,  0.        ,  0.        , ...,  1.        ,
         1.48804699,  1.37013424]])

In [23]:
X_test=pipeline.transform(X_test)

In [24]:
X_test.shape

(250, 19)

In [ ]:

from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor


from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import RandomizedSearchCV
from catboost import CatBoostRegressor
from xgboost import XGBRegressor
import warnings

<frozen importlib._bootstrap>:241: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216 from C header, got 232 from PyObject

In [26]:
!pip install catboost

Collecting catboost
  Downloading catboost-1.2.7-cp310-cp310-win_amd64.whl (101.8 MB)
     -------------------------------------- 101.8/101.8 MB 6.2 MB/s eta 0:00:00
Collecting graphviz
  Downloading graphviz-0.20.3-py3-none-any.whl (47 kB)
     ---------------------------------------- 47.1/47.1 kB 2.5 MB/s eta 0:00:00
Requirement already satisfied: scipy in c:\users\vishu\anaconda3\envs\sample_env\lib\site-packages (from catboost) (1.9.3)
Requirement already satisfied: matplotlib in c:\users\vishu\anaconda3\envs\sample_env\lib\site-packages (from catboost) (3.10.1)
Requirement already satisfied: pandas>=0.24 in c:\users\vishu\anaconda3\envs\sample_env\lib\site-packages (from catboost) (2.2.3)
Requirement already satisfied: numpy<2.0,>=1.16.0 in c:\users\vishu\anaconda3\envs\sample_env\lib\site-packages (from catboost) (1.23.4)
Collecting plotly
  Downloading plotly-6.0.1-py3-none-any.whl (14.8 MB)
     --------------------------------------- 14.8/14.8 MB 10.1 MB/s eta 0:00:00
Requirement already satisfied: six in c:\users\vishu\anaconda3\envs\sample_env\lib\site-packages (from catboost) (1.16.0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\vishu\anaconda3\envs\sample_env\lib\site-packages (from pandas>=0.24->catboost) (2025.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\vishu\anaconda3\envs\sample_env\lib\site-packages (from pandas>=0.24->catboost) (2025.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\vishu\anaconda3\envs\sample_env\lib\site-packages (from pandas>=0.24->catboost) (2.8.2)
Requirement already satisfied: packaging>=20.0 in c:\users\vishu\anaconda3\envs\sample_env\lib\site-packages (from matplotlib->catboost) (21.3)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\vishu\anaconda3\envs\sample_env\lib\site-packages (from matplotlib->catboost) (1.4.8)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\vishu\anaconda3\envs\sample_env\lib\site-packages (from matplotlib->catboost) (4.57.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\vishu\anaconda3\envs\sample_env\lib\site-packages (from matplotlib->catboost) (1.3.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\vishu\anaconda3\envs\sample_env\lib\site-packages (from matplotlib->catboost) (3.0.9)
Requirement already satisfied: cycler>=0.10 in c:\users\vishu\anaconda3\envs\sample_env\lib\site-packages (from matplotlib->catboost) (0.12.1)
Requirement already satisfied: pillow>=8 in c:\users\vishu\anaconda3\envs\sample_env\lib\site-packages (from matplotlib->catboost) (11.1.0)
Collecting narwhals>=1.15.1
  Downloading narwhals-1.34.0-py3-none-any.whl (325 kB)
     ------------------------------------- 325.3/325.3 kB 10.2 MB/s eta 0:00:00
Installing collected packages: narwhals, graphviz, plotly, catboost
Successfully installed catboost-1.2.7 graphviz-0.20.3 narwhals-1.34.0 plotly-6.0.1

In [27]:
!pip install xgboost

Collecting xgboost
  Downloading xgboost-3.0.0-py3-none-win_amd64.whl (150.0 MB)
     -------------------------------------- 150.0/150.0 MB 4.8 MB/s eta 0:00:00
Requirement already satisfied: scipy in c:\users\vishu\anaconda3\envs\sample_env\lib\site-packages (from xgboost) (1.9.3)
Requirement already satisfied: numpy in c:\users\vishu\anaconda3\envs\sample_env\lib\site-packages (from xgboost) (1.23.4)
Installing collected packages: xgboost
Successfully installed xgboost-3.0.0

In [ ]:
models={
    "LinearRegression":LinearRegression(),
    "Ridge":Ridge(),
    "DecisionTreeRegressor":DecisionTreeRegressor(),
    "RandomForestRegressor":RandomForestRegressor(),
    "SVR":SVR(),
    "KNeighborsRegressor":KNeighborsRegressor(),
    "AdaBoostRegressor":AdaBoostRegressor(),
    "Lasso":Lasso(),
    "CatBoostRegressor":CatBoostRegressor(),
    "XGBRegressor":XGBRegressor()
}

In [46]:
for i in range(len(list(models))):
    models = list(models.values())[i]
    
    models.fit(X_train,y_train)

    y_train_pred=models.predict(X_train)
    y_test_pred=models.predict(X_test)

    print("----------------------------------------------------")
    print(f"r2_score for train:{r2_score(y_train_pred,y_train)}")
    print(f"r2_score for test:{r2_score(y_test_pred,y_test)}")
    print("----------------------------------------------------")
    print(f"mae_score for train:{mean_absolute_error(y_train_pred,y_train)}")
    print(f"mae_score for test:{mean_absolute_error(y_test_pred,y_test)}")
    print("----------------------------------------------------")
    print(f"mse_score for train:{mean_squared_error(y_train_pred,y_train)}")
    print(f"mse_score for test:{mean_squared_error(y_test_pred,y_test)}")
    print("----------------------------------------------------")

----------------------------------------------------
r2_score for train:0.8561928279517288
r2_score for test:0.8643028953760341
----------------------------------------------------
mae_score for train:4.238267465725307
mae_score for test:4.337930600167408
----------------------------------------------------
mse_score for train:28.060804235684667
mse_score for test:30.0581146267204
----------------------------------------------------

AttributeError: 'LinearRegression' object has no attribute 'values'